@import '../../../static/scss/variable.scss';
.Detail_Title{
    background-color: $color-bg-l;
    padding: 30px 25px 15px;;
    h2{
        color: $color-text;
        font-size: $font-size-large-x;
        font-weight: bold !important;
        line-height: 1.2em;
    }
}