@import '../../../static/scss/variable.scss';
.DrawerHeader{
    background-color:#29a1f7;
    padding:25px 20px;
    color:$color-text-l;
    font-size: $font-size-medium-x;
    letter-spacing: 1px;
    dl{
        display: flex;
        margin-bottom: 15px;
        &:nth-last-child(1){
            margin-bottom: 0px;
        }
        dt{
            width: 55px;
        }
        dd{
            flex: 1;
        }
    }
}